.body {
    background: linear-gradient(to right, #232526, #414345);
}

nav {
    background-color: #20202298 !important;
}

.dropdown:hover > .dropdown-menu {
    display: block !important;
}

.dropdown-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}
.dropdown-menu li:hover {
    background-color: #d35937a2 !important;
    display: block;
}

nav li:hover {
    background-color: rgba(224, 121, 84, 0.774);
}

.team-area {
    background: linear-gradient(to right, #232526, #414345);
    padding-top: 20px;
}

.section-heading {
    text-align: center;
    color: silver;
    margin-bottom: 70px;
    font-size: 65px;
    font-family: "Roboto";
    letter-spacing: 5px;
}

.card-body {
    border: none;
    background: rgb(45, 45, 45);
}

.img-area {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.team-single:hover .side-two {
    transform: rotateY(0deg);
    border-radius: 5px;
}

.team-single:hover .side-one {
    transform: rotateY(180deg);
}

.content-area {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side-one {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.side-two {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(45, 45, 45);
    transform: rotateY(-180deg);
}

.side-one,
.side-two {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.side-one .card,
.side-two .card {
    min-height: 300px;
}

.list-inline {
    display: flex;
}

.list-inline li {
    position: relative;
    display: block;
    color: silver;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
.list-inline li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}

.list-inline li:nth-child(1):before {
    background: #306adf;
}

.list-inline li:nth-child(2):before {
    background: #e7c21d;
}
.list-inline li:nth-child(3):before {
    background: #cad0db;
}
u.list-inline li:nth-child(4):before {
    background: #e63838;
}

.list-inline li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

.list-inline li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #306adf;
}

.list-inline li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #e7c21d;
}

.list-inline li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #cad0db;
}

.list-inline li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #e63838;
}

.list-inline li:nth-child(1):hover {
    color: #306adf;
    box-shadow: 0 0 15px #306adf;
    text-shadow: 0 0 15px #306adf;
}

.list-inline li:nth-child(2):hover {
    color: #e7c21d;
    box-shadow: 0 0 15px #e7c21d;
    text-shadow: 0 0 15px #e7c21d;
}
.list-inline li:nth-child(3):hover {
    color: #cad0db;
    box-shadow: 0 0 15px #cad0db;
    text-shadow: 0 0 15px #cad0db;
}

.list-inline li:nth-child(4):hover {
    color: #e63838;
    box-shadow: 0 0 15px #e63838;
    text-shadow: 0 0 15px #e63838;
}

.h4 {
    color: silver;
    letter-spacing: 4px;
    font-size: 25px;
}

.card-body {
    color: silver;
}

p {
    font-family: "Roboto";
    color: silver;
}

h6 {
    color: rgb(235, 123, 44);
}
