* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0b2a63, #2b2fa5);
    color: rgb(243, 240, 240);
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

/* Navbar */

img {
    height: 2.2rem;
}

nav {
    width: 100%;
    background-color: rgba(5, 16, 63, 0.418);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    top: 0%;
    position: fixed;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.links {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: aliceblue;
    display: block;
    border-radius: 20px;
    transition: all 400ms ease;
}

nav a:hover {
    background-color: rgba(192, 135, 29, 0.822);
    color: aliceblue;
}

/* main */

.first-section {
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
    line-height: 5rem;
}

.first-section h1 {
    font-size: 4rem;
}
