* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: rgb(243, 240, 240);
    font-family: "Roboto", sans-serif;
}

nav li:hover {
    background-color: rgba(224, 121, 84, 0.774);
}

#text {
    animation: text 1500ms;
    transition: ease;
}

main button:hover {
    background-color: #252424 !important;
}

#languages {
    height: 20vh !important;
}

#python:hover {
    content: url("/images/python4.png") !important;
}

#js:hover {
    content: url("/images/js4.png") !important;
}

/* Footer */

footer {
    background-color: #252424;
    padding: 1rem;
}

footer a {
    color: #d35937;
}

@keyframes text {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
    }
}
